<div class="body_modal body_modal_delete">
	<div class="modal_habits--delete" id="modal_box">
		<div class="upside">
			<h1>Excluir hábito</h1>
			<div class="close_card_div close_card_div_delete">
				<i class="close_card_button">x</i>
			</div>
		</div>

		<h2>Certeza que deseja excluir esse hábito?</h2>
		<h3>Após executar essa ação não será possível desfazer</h3>

		<form class="modal_form modal_form_delete">
			<button type="submit" class="sendDecision" id="cancel">
				Cancelar
			</button>

			<button type="submit" class="sendDecision" id="delete">
				Sim, excluir esse hábito
			</button>
		</form>
	</div>
</div>