<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/modalEditProfile.css">
    <title>Document</title>
</head>
<body>
    <div class="modal_editar--perfil">
        <div class="upside">
            <h1>Editar Perfil</h1>
            <div class="close_card_div">
                <i class="close_card_button">x</i>
            </div>
            
        </div>
        <form class="modal_form">
            <label for="Nome" class="text">Nome</label>
            <input type="text" name="Nome" id="name" placeholder="Digitar Nome">
            
            <label for="URL" class="text">URL da imagem do perfil</label>
            <input type="url" name="url" id="url" placeholder="Digitar URL">
            
           <button type="submit" class="send" >Salvar Alterações</button>
         </form>
</body>
<script type="module" src="../controller/modalEditProfile.js"></script>
</html>