<div class="body_modal_edit">
    <div class="modal_editar--perfil" id="modal_box">
        <div class="upside">
            <h1>Editar Perfil</h1>
            <div class="close_card_div_edit">
            <i class="close_card_button">x</i>
        </div>
    </div>
    <form class="modal_form modal_edit">
        <label for="Nome" class="text">Nome</label>
        <input type="text" name="Nome" id="name" placeholder="Digitar Nome" required>
                            
        <label for="URL" class="text">URL da imagem do perfil</label>
        <input type="url" name="url" id="url" placeholder="Digitar URL" required>
                            
        <button type="submit" class="send" >Salvar Alterações</button>
    </form>
    </div>
</div>