@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    background-color: rgb(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal_editar--perfil{
    width: 15.5rem;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0.875rem;
}


.upside{

    display: flex;
    align-items: baseline;
    width: 18rem;
    justify-content: space-around;
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #212529;

}
.close_card_button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    color: #ADB5BD;
    cursor: pointer;
}
.modal_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 0.875rem;
    gap: 1.1rem;

   
}

.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.775rem;
    line-height: 0.5rem;
    color: #343A40;

   
}
#name{
    box-sizing: border-box;
    background: #F1F3F5;
    border: 0.125rem solid #F1F3F5;
    border-radius: 0.25rem;
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    height: 2.5rem;
    width: 15.5rem;
   
}

#url{
    box-sizing: border-box;
    background: #F1F3F5;
    border: 0.125rem solid #F1F3F5;
    border-radius: 0.25rem;
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    height: 2.5rem;
    width: 15.5rem;


}

.send{
    background: #415AF3;
    border: 0.125rem solid #415AF3;
    border-radius: 0.25rem;
    width: 16rem;
    height: 2.5rem;
    font-family: 'Inter';
    font-style: normal;
    color: white;
    cursor: pointer;
}
.send:hover{
    background: white;
    border: 0.025rem solid #415AF3;
    color: #415AF3;
    transition: 150ms;
}
@media(min-width:769px) {
    
    .modal_editar--perfil{
        width: 29.5rem;
    }
    
    .modal_form{
        width: 27.5rem;
    
    } 
    .upside{
        width: 27.5rem;
        justify-content: space-between;
    }
   
    #name{   
        width:27.5rem;
    }

    #url{
        width:27.5rem;   
    }
    
    .send{
        width: 27.5rem;
    }
    

}